@page "{printerId}"
@model _3DGence.Pages.Printers.DeleteModel
@{
    
}


        <h2>Delete!</h2>
        <div class="alert alert-danger">
            Are you sure you want to delete @Model.Printer.Name?
        </div>
        <form method ="post">
            <button type ="submit" class="btn btn-danger"> Yes!</button>
            <a asp-page ="List" class = "btn btn-secondary">Cancel</a>
        </form>
    